body{
    background-image: url("../img/chuck.jpg");
    background-size: cover;
}

.quote{
    width: 50%;
    margin-top: 20%;
}

p{
    font-family: Helvetica Neue, sans-serif;
    font-size: 40px;
    color: white;
}