body{
    background-image: url("../img/chuck.jpg");
    background-size: cover;
}

.quote{
    width: 50%;
    margin-top: 20%;
    margin-left: 10%;
}

p{
    font-family: Helvetica Neue, sans-serif;
    font-size: 50px;
    color: white;
}